/coverage_html.js
/index.html
/jquery.debounce.min.js
/jquery.hotkeys.js
/jquery.isonscreen.js
/jquery.min.js
/jquery.tablesorter.min.js
/keybd_closed.png
/keybd_open.png
/projects_helper_apps___init___py.html
/projects_helper_apps_common___init___py.html
/projects_helper_apps_common_admin_py.html
/projects_helper_apps_common_forms_py.html
/projects_helper_apps_common_models_py.html
/projects_helper_apps_common_urls_py.html
/projects_helper_apps_common_views_py.html
/projects_helper_apps_lecturers___init___py.html
/projects_helper_apps_lecturers_forms_py.html
/projects_helper_apps_lecturers_urls_py.html
/projects_helper_apps_lecturers_views_py.html
/projects_helper_apps_students___init___py.html
/projects_helper_apps_students_urls_py.html
/projects_helper_apps_students_views_py.html
/status.json
/style.css
