{% extends "base.html" %}
{% block content %}
    <h2>Projects</h2>
    <table class="table table-striped">
        <tr>
            <th>Pick</th>
            <th>Status</th>
            <th>Title</th>
            <th>Lecturer</th>
        </tr>
        {% for project in projects %}
            <tr>
                {% if project.status == "free" %}
                    <td><a href='{% url 'students:pick_project' project.pk %}'>Pick</a></td>
                        {% else %}
                    <td>Can't pick</td>
                {% endif %}
                <td>{{ project.status }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.lecturer.username }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
