{% extends "students/base.html" %}
{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Projects</h2>
    <table class="table table-striped">
        <tr>
            <th>Pick</th>
            <th>Status</th>
            <th>Title</th>
            <th>Lecturer</th>
        </tr>
        {% for project in projects %}
            <tr>
                {% if project == project_picked %}
                    <td>Picked</td>
                {% elif project.status == "free" and not team.is_locked %}
                    <td><a href='{% url 'students:pick_project' project.pk %}'>Pick</a></td>
                {% else %}
                    <td>Can't pick</td>
                {% endif %}
                <td>{{ project.status }}</td>
                <td><a href="{% url 'students:project' project.pk %}">{{ project.title }}</a></td>
                <td>{{ project.lecturer.user.username }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
