{% extends "students/base.html" %}
{% block content %}
    {% load bootstrap3 %}
    {% include "common/messages.html" %}


    <h2>Projects</h2>
    <table class="table table-striped">
        <tr>
            <th>Pick</th>
            <th>Status</th>
            <th>Title</th>
            <th>Lecturer</th>
        </tr>
        {% for project in projects %}
            <tr>
                {% if project == project_picked %}
                    <td>{% bootstrap_icon "user" %}</td>
                {% elif project.status == "free" and not team.is_locked %}
                    <td><a href='{% url 'students:pick_project' project.pk %}'>{% bootstrap_icon "ok" %}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ project.status }}</td>
                <td><a href="{% url 'students:project' project.pk %}">{{ project.title }}</a></td>
                <td> <a href="mailto:{{ project.lecturer.user.email }}">{{ project.lecturer.user.username }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
