{% extends 'lecturers/base.html' %}

{% block content %}
    {% include 'common/project_detail.html' %}
</br>
    <table>
    <tr>
        <th>Teams assigned:</th>
    </tr>
    <tr>
        <td>{{ project.team_assigned }}</td>
    </tr>
    </table>



    {% if project.status == "free" %}
        </br>
    <table>
    <tr>
        <th>Teams waiting for this project:</th>
    </tr>
        {% for team in project.teams_with_preference %}
    <tr>
        <td>{{ team }}</td>
    </tr>
        {% endfor %}
    </table>
        {% if project.lecturer == lecturer %}
            </br>
            {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <a><input type="button" value="Assign Teams"
          onClick="window.location.href='{% url 'lecturers:assign_team' project.pk %}'" /></a>
        {% endif %}
    {% endif %}
{% endblock %}
